.error404 {
    font-family: 'Courier New', Courier, monospace;
    background: rgb(221, 54, 54);
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

body {
    background: #000;
    color: #fff;
}

body.dark {
    background: #fff !important;
    color: #000 !important;
}

.nav-username { color: #fff; }

.container {
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 4%;
}

.content_center {
    align-items: center;
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
}

.error404 h1 { font-size: 20px; }
.error404 p { font-size: 16px; }
#errorLogin { display: none; }
.formLogin { display: block; }
.none { display: none }
.block { display: block; }

/* quick_tasks.html: */

.quick_task { margin-top: 30px; }

.line-through { text-decoration:line-through; }

input[type="checkbox"] { margin-right: 10px; }

.form_new_quicktask { margin-block-end: 25px; }

.switch {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}

.switch_change_style {
    position: relative;
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch_change_style span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch_change_style::after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: all .3s 0.1s ease-in-out;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch_change_style.active::after {
    right: 0;
    left: unset;
}
