{% extends "base.html" %}
{% block container %}
<div class="container">
    <div id="errorAlert" class="alert alert-danger none" role="alert"></div>
    <div id="successAlert" class="alert alert-success none" role="alert"></div>
    <div class="formLogin none">
        <br>
        <h3>Primero, autentíquese:</h3>
        <form class="row g-3">
            <div class="col-auto">
                <input type="text" id="inputUsername" class="form-control" placeholder="Nombre de usuario">
            </div>
            <div class="col-auto">
                <input type="password" id="inputAuth" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkShowPassword">
                <label class="form-check-label" for="checkShowPassword">Mostrar Contraseña</label>
            </div>
            <div class="col-auto">
                <button type="submit" id="btnLogin" class="btn btn-primary mb-3">Autenticar</button>
            </div>
        </form>
    </div>
    <div class="myTasks none">
        <h1>Mis Tareas:</h1>
        <br>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre:</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody id="tbodyMyTasks"></tbody>
        </table>
    </div>        
</div>
{% endblock %}
{% block scripts %}
<script src="/public/js/ShowTasks.js"></script>
{% endblock %}