{% extends "base.html" %}
{% block container %}
<div class="container">
    <div id="errorAlert" class="alert alert-danger none" role="alert"></div>
    <div id="successAlert" class="alert alert-success none" role="alert"></div>
    <h2>Guarde una nueva tarea:</h2>
    <form>
        <div class="row">
            <div class="col">
                Nombre de la Tarea:
                <input id="input_name_task" type="text" class="form-control" placeholder="Ej: Práctico 3 de Cálculo">
            </div>
            <div class="col">
                Fecha:
                <div class="input-group date" data-provide="datepicker">
                    <input type="date" id="date_task" class="form-control" value="2021-01-01">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Descripción de la Tarea:
                <input id="input_description" type="text" class="form-control" placeholder="Ej: Práctico de cálculo de Integrales de la semana 3">
            </div>
        </div>
        <div class="d-grid gap-2">
            <button id="btnSaveTask" class="btn btn-secondary" type="submit">Guardar</button>
        </div><br>
    </form>
</div>
{% endblock %}
{% block scripts %}<script src="/public/js/InsertTask.js"></script>{% endblock %}    