{% extends "base.html" %}
{% block container %}
<div class="container">
    <div id="error_alert_remove_task" class="alert alert-danger none" role="alert"></div>
    <div id="success_alert_remove_task" class="alert alert-success none" role="alert"></div>
    <h2>Tareas rápidas:</h2>
    <div class="quick_task">
        <form class="form_new_quicktask col-8">
            <div class="input-group">
                <input class="form-control" type="text" id="newTask" placeholder="Nueva tarea rápida">
                <span class="input-group-btn">
                    <button id="add_new_task" type="button" class="btn btn-primary">Agregar</button>
                </span>
            </div>
        </form>
        <div class="tasks">
            <ul id="all_tasks"></ul>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/public/js/QuickTasks.js"></script>
<script src="/public/js/CreateQuickTasks.js"></script>
{% endblock %}    